<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <div class="custom-container">
    <!-- Left Side -->
    <div class="left-side">
      <h1>Digibox</h1>
      <p class="description">
        Digibox is an e-commerce where you can find various digital products.
        We provide a wide range of digital products, along with its accesories.
      </p>
    </div>

    <!-- Right Side -->
    <div class="right-side">
      <div class="card">
        <div class="card-body py-5 px-md-5">
          <h2 class="mb-3">Welcome Back!</h2>
          <form [formGroup]="form" (submit)="submit()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email</label>
              <input formControlName="email" type="text" id="email" name="email" class="form-control"
                placeholder="email" required="Email wajib diisi" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input formControlName="password" type="password" id="password" name="password"
                placeholder="Password" class="form-control" required />
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="margin: 5px;">
              Login
            </button>
            <!-- Register buttons -->
          </form>
          <div class="register-here">
            <p>Don't have an account? <a routerLink="/register">Register</a></p>
        </div>
        </div>
      </div>
    </div>


  </div>
</body>

</html>
