<div class="container">
    <h1 class="mt-5 mb-3">Cart</h1>
    <div class="row">
        <div class="col-lg-8">
            <!-- ADDRESS BOX -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="mb-3">{{ name }}</h3>
                            <p>{{ shippingAddress }}</p>
                        </div>
                        <div class="col-md-2">
                            <button class="button">Change Address</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-items">
                <h2>Cart Items</h2>
                <!-- BOX FOR EACH ITEM -->
            
                <div *ngFor="let item of cartItems" class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img [src]="item.Product.productImage" alt="Product Image" class="img-thumbnail">
                            </div>
                            <div class="col-md-10">
                                <h3 class="mb-2">{{ item.Product.productName }}</h3>
                                <p class="mb-2">{{ item.Product.productDescription }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <label for="quantity">Quantity</label>
                                        <div class="input-group">
                                            <button class="btn btn-outline-secondary" (click)="decreaseQuantity(item)">-</button>
                                            <span class="quantity-text">{{ item.quantity }}</span>
                                            <button class="btn btn-outline-secondary" (click)="increaseQuantity(item)">+</button>
                                        </div>
                                    </div>
                                    <h4 class="text-right">{{ 'Rp. ' + item.price }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div> 


            </div>
        </div>

        <div class="col-lg-4">
            <div class="order-detail card">
                <div class="card-body">
                    <h2>Order Summary</h2>
                    
                    <hr>
                    <p class="mb-4">Total: {{'Rp. ' + totalPrice}}</p>
                    <button type="button" class="button btn-primary btn-lg btn-block" (click)="checkout()">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
