.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.quantity-text {
    display: inline-block;
    min-width: 50px; 
    padding: 5px 10px; 
    text-align: center;
    border: 1px solid #ccc; 
    vertical-align: middle;
}

.button {
    background-color: #e9e2d2;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    border: none;
}

.button:hover {
    background-color: #e2d0ad;
  }
  
